# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Flutter
armada_mobile/.dart_tool/
armada_mobile/.packages
armada_mobile/.flutter-plugins
armada_mobile/.flutter-plugins-dependencies
armada_mobile/build/
armada_mobile/android/.gradle/
armada_mobile/ios/Pods/
armada_mobile/ios/.symlinks/

# IDE
.idea/
.vscode/
*.iml
armada_mobile/android/app/google-services.json
